* {
    margin: 0px;
    padding: 0px;

}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
body {
    font-family: 'Montserrat', sans-serif;
  }

.main {
    padding: 0px 0px;
}

ul.navbar {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    color:white;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    color: lime;
}

ul.navbar li.right {
    float: right;
}

@media only screen and (max-width: 300px) {

    ul.navbar li.right,

    ul.navbar li {
        display: none;
        float: none;
    }
}

.Home{
    background-color: #ccc;
    height: 100vh;
    width: 100%;
    padding: 80px 16px;
    color: #333;
}
.MyHobbies{
    background-color: #f2f2f2;
    height: 100vh;
    width: 100vw;
    padding: 60px 16px;
    overflow: auto;
    color: #333;
}
.Skills{
    background-color: #ccc;
    height: 100vh;
    width: 100vw;
    padding: 60px 16px;
    color: #333;
}
.button{
    border: solid black;
    background-color: #ccc;
    color: #333;
    width: 300px;
    height:52px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
    
.button:hover {
    background-color:black;
    color:whitesmoke;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
/* .button2{
    width: 145px;
    height:52px;
    font-size: 20px;
    border-radius: 12px;
    border: solid black;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    text-align: center;
    display: inline-block; */

/* .button2:hover{
    background-color:black;
    color: whitesmoke; */

ul.icon{
    list-style-type: none;
    display: block;

}
.photo{
    display: block;
    float: right;
    width: 20vw;
    /* height:40%; */
    border-radius: 12px;
}
.bar{
    background-color: rgb(141, 140, 140);
    width: 80%;
    border-radius: 12px;
}
.skill{
background-color: black;
color: white;
text-align: center;
font-size: 25px;
border-radius: 12px;
}
.html{
    width: 85%;
}
.css{
    width: 70%;
}
.javascript{
    width: 25%;
}
.c{
    width: 50%;

}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }